* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    min-width: 100%;
    min-height: 100vh;
    font-family: 'Hellix';
    font-size: 62.5%;
    background: linear-gradient(7.28deg, #EEF5FF 0%, #FFFFFF 99.69%);
    color: #111235;
}
header {
    width: 100%;
    height: 7.5rem;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    display: flex;
    justify-content: center;
    align-items: center;
}
h1, h2, li, p {
    font-weight: 500;
}
h2 {
    font-size: 3.6rem;
}
p {
    font-size: 1.6rem;
    line-height: 2.4rem;
}
img {
    width: 100%;
}
.page-container {
    max-width: 450px;
    min-width: 320px;
    margin: 0 auto;
}
.header-bold {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}
.time-to-get-strong-section {
    text-align: center;
}
.time-to-get-strong-section img {
    margin-top: 2rem;
}
.time-to-get-strong-text-container {
    padding: 0 2rem;
}
.time-to-get-strong-text-container h1 {
    font-size: 6.4rem;
    line-height: 7rem;
    margin: 2rem 0;
}
.btn {
    width: 250px;
    padding: 2rem 0;
    border-radius: 35px;
    border: none;
    font-size: 1.6rem;
    margin: 3.5rem 0;
}
.btn-primary {
    background-color: #4B5092;
    color: #ffffff;
}
.btn-secondary {
    color: #436BAA;
}
.choose-loads-section {
    margin: 5rem 0;
}
.choose-loads-text-container {
    text-align: left;
    background-color: #F2F8FF;
    padding: 3.5rem 0 3.5rem 2rem;
    margin: 3rem 0;
}
.choose-loads-text-container h2 {
    font-size: 4.8rem;
    line-height: 5.8rem;
    width: 75%;
    margin-bottom: 2rem;
}
.choose-loads-text-container p {
    width: 95%;
}
.trainer-section {
    background: linear-gradient(99.85deg, #BAD5FF 0%, #6487BF 100%);
    text-align: center;
    padding: 6rem 0 0;
    margin: 12rem 0;
}
.trainer-text-container {
    padding: 0 2rem;
}
.trainer-text-container h3 {
    font-weight: 900;
    font-size: 4.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.trainer-text-container h5 {
    font-weight: 500;
    font-size: 1.8rem;
    margin: 2rem 0;
}
.trainer-section img {
    margin-bottom: -0.2rem;
}
.exercising-benefits-section h2 {
    font-size: 4.8rem;
    line-height: 5.8rem;
    margin: 4rem 0;
    padding-left: 2rem;
}
.panel {
    width: 370px;
    height: 274px;
    border-radius: 30px;
    padding: 6rem 3.5rem;
    margin: 2rem;
}
.panel h4 {
    font-size: 2.4rem;
    line-height: 2.9rem;
    margin-bottom: 2rem;
    width: 85%;
}
.panel:nth-of-type(1) {
    background-color: #E4F0FF;
}
.panel:nth-of-type(2) {
    background: rgba(114, 122, 239, 0.1);
}
.panel:nth-of-type(3) {
    background: rgba(114, 122, 239, 0.1);
}
.panel:nth-of-type(4) {
    background-color: #E4F0FF;
}
.exercising-benefits-section button {
    margin: 3rem auto;
}
.footer-section {
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding: 5rem 0 0;
    margin: 8rem 0 0;
}
ul {
    list-style-type: none;
    margin: 5.5rem 0;
}
ul li {
    font-size: 1.6rem;
    margin: 4rem 0;
}
.footer-section h5 {
    font-weight: 600;
    font-size: 1.8rem;
}
input[type="text"] {
    width: 65%;
    font-size: 1.4rem;
    border-radius: 8px;
    border: none;
    background-image: url('./images/icon-send.png');
    background-repeat: no-repeat;
    background-position: 95%;
    background-color: #ffffff;
    padding: 1rem 1.5rem;
    margin: 2rem 0 3rem;
}
.icons {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.icon-circle {
    height: 32px;
    width: 32px;
    background-color: rgba(128, 173, 245, .2);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-circle > img {
    width: 60%;
}
.footer-section p {
    font-size: 1.4rem;
    margin: 8rem 0;
}
.desktop-only {
    display: none;
}
.mobile-only {
    display: block;
}
@media only screen and (min-width: 992px) {
    
    .page-container {
        max-width: 1200px;
        margin: 0 auto;
    }
    .desktop-only {
        display: block;
    }
    .mobile-only {
        display: none;
    }
    header {
        justify-content: space-between;
        box-shadow: none;
    }
    .nav-bar {
        width: 30%;
        display: flex;
        justify-content: space-between;
        margin-right: 7rem;
    }
    .nav-bar ul {
        width: 75%;
        display: flex;
        justify-content: space-between;
        margin: 0;
    }
    .nav-bar li {
        margin: 0;
    }
    header img {
        width: 20px;
        height: 20px;
    }
    .time-to-get-strong-section {
        display: flex;
        flex-direction: row-reverse;
    }
    .time-to-get-strong-text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        padding: 0;
    }
    .time-to-get-strong-text-container p {
        width: 85%;
    }
    .choose-loads-section img {
        width: 50%;
    }
    .choose-loads-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .choose-loads-text-container {
        width: 45%;
        padding: 4rem 5rem;
        border-radius: 30px;
    }
    .trainer-section {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }
    .trainer-section img {
        width: 40%;
        margin-right: 4rem;
    }
    .trainer-text-container {
        width: 40%;
        text-align: left;
    }
    .exercising-benefits-header-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5rem;
    }
    .exercising-benefits-header-container h2 {
        margin: 0;
    }
    .exercising-benefits-header-container button {
        margin: 0;
    }
    .exercising-benefits-section {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
    .exercising-benefits-section img {
        width: 35%;
        /* height: 400px; */
    }
    .panel {
        margin: 0 0 2rem 0;
    }
    .panels {
        height: 600px;
        width: 65%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}