* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html {
    min-width: 100%;
    min-height: 100vh;
    font-family: 'Hellix';
}
html {
    font-size: 62.5%;
}
header {
    height: 7.5rem;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    display: flex;
    justify-content: center;
    align-items: center;
}
h1, h2, h3, h4 p {
    color: #111235;
}
h1, h2 {
    font-weight: 500;
}
h2 {
    font-size: 3.6rem;
}
.header-bold {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}
.time-to-get-strong-section {
    text-align: center;
}
.time-to-get-strong-section img {
    width: 100%;
    margin-top: 2rem;
}
.time-to-get-strong-text-container {
    padding: 0 2rem;
}
.time-to-get-strong-text-container h1 {
    font-size: 6.4rem;
    line-height: 7rem;
    margin: 1.5rem 0;
}
p {
    font-size: 1.6rem;
    line-height: 2.4rem;
}
.btn {
    width: 25rem;
    padding: 2rem 0;
    border-radius: 35px;
    border: none;
    font-size: 1.6rem;
    margin: 3rem 0;
}
.btn-primary {
    background-color: #4B5092;
    color: #ffffff;
}
.btn-secondary {
    color: #436BAA;
}
.choose-loads-section {
    margin: 5rem 0 10rem;
}
.choose-loads-text-container {
    text-align: left;
    background-color: #F2F8FF;
    padding: 3.5rem 2.5rem 3.5rem 2rem;
    margin: 3rem 0;
}
.choose-loads-text-container h2 {
    color: #111235;
    font-size: 4.8rem;
    line-height: 5.8rem;
    width: 90%;
    margin-bottom: 2rem;
}
.trainer-section {
    background: linear-gradient(99.85deg, #BAD5FF 0%, #6487BF 100%);
    text-align: center;
    padding: 8rem 0 0;
}
.trainer-text-container {
    padding: 0 2rem;
}
.trainer-text-container h3 {
    font-weight: 900;
    font-size: 4.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.trainer-text-container h4 {
    font-weight: 500;
    font-size: 1.8rem;
    margin: 2rem 0;
}
.trainer-section img {
    width: 100%;
    margin-bottom: -0.2rem;
}
